*{
    margin: 0%;
    padding: 0%;

    .Create_container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .CreateForm{
            background: #FFFFFF;
            box-shadow: 2px 4px 25px #000000;
            height: 95vh;
            width: 130vh;
            gap: 20vh;
            justify-content: space-between;

            .head{
                border: 1px solid black;
                display: flex;
                padding: 10px;
                flex-direction:row-reverse;
                justify-content: space-between;
            }

            .details{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                // gap: 10px;

                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px 0px 0px 45px;
        
                    }
            }
        }
    }
}





//                     label{
//                         color: var(--grey-text-color, #8F8F8F);

//                         /* Body Large */
//                         font-size: 16px;
//                         font-family: Poppins;
//                         font-style: normal;
//                         font-weight: 400;
//                         line-height: normal;
//                         letter-spacing: 0.5px;
//                     }

//                     input{
//                         width: 120vh;
//                         height: 50px;
//                         flex-shrink: 0;
//                         border-radius: 5px;
//                         background: #FFF;
//                         box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.50) inset;
//                     }   
//                 }

//                 .pic{
//                     display: flex;
//                     padding: 10px 50px;
//                     width: 35vh;
//                     justify-content: center;
//                     align-items: center;
//                     // gap: 10vh;
//                     align-self: stretch;
//                     border-radius: 8px;
//                     background: var(--button-color, #8F8F8F);
//                     box-shadow: 2px 4px 4px 0px rgba(255, 255, 255, 0.25);
//                 }

//                 .finalbtn{
//                     display: flex;
//                     flex-direction: row;
//                     justify-content: flex-end;
//                     align-items: center;
//                     gap: 13px;

//                     label{
//                         color: var(--primary-text-color-black, #1D1D1F);
//                         font-size: 20px;
//                         font-family: Inter;
//                         font-style: normal;
//                         font-weight: 700;
//                         line-height: normal;
//                     }
            
//                     button{
//                         display: flex;
//                         padding: 10px 20px;
//                         justify-content: center;
//                         align-items: center;
//                         gap: 10px;
//                         border-radius: 8px;
//                         background: var(--button-color, #8F8F8F);
//                         box-shadow: 2px 4px 4px 0px rgba(255, 255, 255, 0.25);
//                     }
//                 }
//             }
//         }
//     }
// }
