@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

    .login{
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;

    form{
        position: relative;
        width: 375px;
        height: 500px;
        background: #FFFFFF;
        box-shadow: 2px 4px 25px #000000;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    h1{
        font-family: 'Poppins';
        font-weight: bolder;
        font-size: 34px;
        line-height: 51px;
        letter-spacing: 0.25px;
        color: #1D1D1F;
        display: flex;
        height: 25vh;
        align-items: center;
        justify-content: center;
    }

    form div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 10vh;
        padding-right: 40px;
        padding-left: 40px;
    

    input{
        box-sizing: border-box;
        height: 50px;
        border: 1px solid #1D1D1F;
        border-radius: 8px;
        flex: none;
        order: 0;
        flex-grow: 0;
        
        &::placeholder{
            position: absolute;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #8F8F8F;
            padding-left: 10px;
        }
    }
}

    .loginbtn{
        display: flex;
        justify-content: center;
    
    button{
        display: flex;
        color: var(--white-text-color, #F5F5F7);
        font-size: 20px;
        font-weight: 900;
        font-family: Poppins;
        letter-spacing: 0.15px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 50px;
        width: 300px;
        background: #8F8F8F;
        border-radius: 8px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
}

.text{
    display: flex;
    // align-items: center;
    font-family: 'Poppins';
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: start;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    gap: 14vh;
    color: #1D1D1F;
    font-weight: 900;
    height: 25vh;
    // background-color: #000000;


    p{    
        text-align: center;
        // background-color: aquamarine;
        // height: 20vh;
    }
    opt{
        text-align: end;
        a{
            color: #8F8F8F;
        }
        // background-color: #8F8F8F;
    }
}
}
}