@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

$primary-color: #1D1D1F;
$secondary-color: #8F8F8F;

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

    .register {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;

        form {
        position: relative;
        width:150vh;
        height: 90vh;
        background: #FFFFFF;
        box-shadow: 2px 4px 25px #000000;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        
        h1 {
            font-family: 'Poppins';
            font-weight: bolder;
            font-size: 34px;
            line-height: 10vh;
            letter-spacing: 0.25px;
            color: #1D1D1F;
            display: flex;
            // align-items: end;
            justify-content: center;
        }
        
        
        div.feilds {
            // background:#8F8F8F;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            top: 20px;
            // height: 90vh;
            gap: 1vh;


            input {
                box-sizing: border-box;
                height: 50px;
                width: 60vh;
                border: 1px solid #1D1D1F;
                border-radius: 8px;
                flex: none;
                order: 0;
                flex-grow: 0;
                
                &::placeholder {
                    // position: absolute;
                    // font-family: 'Poppins';
                    // font-style: normal;
                    // font-weight: 400;
                    // font-size: 16px;
                    // line-height: 24px;
                    // letter-spacing: 0.5px;
                    // color: $secondary-color;
                    // padding-left: 10px;
                    position: absolute;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    font-weight: 900;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    color: #696767;
                    padding-left: 10px;
                }
            }
        }
        
        .regbtn {
            display: flex;
            justify-content: center;
            
            button {
                display: flex;
                // color: var(--white-text-color, #F5F5F7);
                font-size: 20px;
                font-weight: 900;
                font-family: Poppins;
                letter-spacing: 0.15px;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 300px;
                background: #8F8F8F;
                border-radius: 8px;
                flex: none;
                order: 1;
                flex-grow: 0;
            }
        }
        
        div.text {
            display: flex;
            flex-direction: column;
            font-family: 'Poppins';
            flex: none;
            order: 0;
            flex-grow: 0;
            text-align: start;
            font-style: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
            gap: 9vh;
            color: $primary-color;
            font-weight: 900;
            height: 25vh;
            
            p {
                text-align: center;
            }

            opt1{
                text-align: center;
                a {
                color: $secondary-color;
                }
            }
        }
    }
}

}

